# Python caches
__pycache__/
*.pyc
*.pyo
*.pyd

# Datasets and large audio files
data/
KAGGLE/

# Local environments
venv/
.venv/
env/

# IDE files
.vscode/
.idea/

# Features and large outputs
features/*.csv
*.zip
*.txt
DEMONSTRATION/
aria2/

# Local models and temp files
models/indicwav2vec-hindi/
scratch/
test_real.wav
